^{:watch-dirs ["test" "src"]
  :css-dirs ["resources/public/css"]
  :auto-testing true
   }
{:modules {:core {:entries #{shashurup.quf.core}}
           :fs {:entries #{shashurup.quf.fs}}
           :chartjs {:entries #{shashurup.quf.chartjs}}
           :ol {:entries #{shashurup.quf.ol}}
           :terminal {:entries #{shashurup.quf.terminal}}
           :theme {:entries #{shashurup.quf.theme}}
           }
 :output-to "dummy.js"
 :externs ["xtermjs-externs.js"]
}
