^{:open-url "http://[[server-hostname]]:[[server-port]]/fat.html"}
{:modules {:core {:entries #{shashurup.quf.core}}
           :fs {:entries #{shashurup.quf.fs}}
           :chartjs {:entries #{shashurup.quf.chartjs}}
           :ol {:entries #{shashurup.quf.ol}}
           :terminal {:entries #{shashurup.quf.terminal}}
           :theme {:entries #{shashurup.quf.theme}}
           }
 :optimizations :simple
 :output-to "dummy.js"
 :externs ["xtermjs-externs.js"]
}
