/* some style */

div.ra-result {
    padding: 1ch;
}

p.ra-err {
    color: red;
}

p.ra-ex {
    color: red;
    font-weight: bold;
}

body {
    font-family: monospace;
}

.ra-composite-wrapper {
    display: flex;
}

.ra-composite-entry {
    display: flex;
    column-gap: 1ch;
}

span.ra-closing-paren {
    align-self: end;
}

.ra-string {
    color: green;
}

.ra-keyword {
    color: blue;
}

.ra-number {
    color: brown;
}

.ra-symbol {
    color: darkblue;
}

.ra-bool {
    color: brown;
}

input:checked + div {
    display: none;
}

label {
    cursor: pointer;
}

label.ra-ellipsis {
    display: none;
}

input:checked ~ label.ra-ellipsis {
    display: inline;
}

label:checked {
    content: "+"
}

input {
    font-family: monospace;
}

table.ra {
    border-collapse: collapse;
    border-spacing: 0px;
}

table.ra, th.ra, td.ra {
    border: solid 1px;
}

th.ra, td.ra {
    padding: 1ch;
}

td.ra-string-cell {
    white-space: pre;
}

td.ra-number-cell {
    text-align: right;
}
