/* some style */

div.ra-result {
    margin: 1em;
}

div.ra-tall {
    max-height: 80vh;
    overflow: scroll;
    padding: 1em;
    margin: 0;
    border: 1px dashed grey;
}

div.ra-height-collapsed {
    max-height: 10vh;
    overflow: hidden;
    padding: 1em;
    margin: 0;
    border: 1px dashed grey;
}

.ra-wide {
    max-width: 80vw;
}

.ra-width-collapsed {
    max-width: 1ch;
}

div.ra-candidates {
    margin: 1em;
}

div.ra-doc {
    margin: 1em;
    white-space: pre;
}

.ra-selected {
    border: 2px solid;
    border-radius: 4px;
}

p.ra-out {
    white-space: pre-wrap;
}

p.ra-err {
    color: red;
    white-space: pre-wrap;
}

p.ra-ex {
    color: red;
    font-weight: bold;
}

body {
    font-family: monospace;
    background-color: beige;
}

.ra-composite-wrapper {
    display: flex;
}

.ra-composite-body-vector, .ra-composite-body-list, .ra-composite-body-set {
    display: flex;
    column-gap: 1ch;
    flex-wrap: wrap;
}

.ra-map-entry {
    display: flex;
    column-gap: 1ch;
}

span.ra-closing-paren {
    align-self: end;
}

.ra-string {
    color: teal;
}

.ra-keyword {
    color: blue;
}

.ra-number {
    color: slateblue;
}

.ra-symbol {
    color: maroon;
}

.ra-bool {
    color: brown;
}

input:checked + div {
    display: none;
}

label {
    cursor: pointer;
}

label.ra-ellipsis {
    display: none;
}

input:checked ~ label.ra-ellipsis {
    display: inline;
}

label:checked {
    content: "+"
}

input {
    font-family: monospace;
}

div.ra-input {
    display: inline-block;
    font-family: monospace;
    padding: 0.2em;
    min-width: 80ch;
    max-width: 100%;
    white-space: break-spaces;
}

table.ra {
    border-collapse: collapse;
    border-spacing: 0px;
    border-style: none;
}

th.ra, td.ra {
    padding: 0 1ch;
    border: solid 1px;
    border-color: grey;
    overflow: hidden;
    text-overflow: ellipsis;
}

td.ra {
    border-left-style: solid;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    white-space: pre;
}

th.ra {
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: none;
    border-right-style: none;
}

td.ra:nth-child(1) {
    border-left-style: none;
}

th.ra:nth-child(1) {
    border-left-style: none;
}

td.ra-number-cell {
    text-align: right;
}

.ra-intrinsically-sized {
    object-fit: contain;
    max-height: 50vh;
}

.ra-composite-wrapper .ra-intrinsically-sized {
    max-width: 27vw;
    margin: 1em;
}

.ra-medium-sized {
    height: 50vh;
    aspect-ratio: 16 / 9;
}

.ra-composite-wrapper .ra-medium-sized {
    width: 27vw;
    height: auto;
    margin: 1em;
}

.ra-tall {
    height: 75vh;
    width: 80%
}

.ra-composite-wrapper .ra-tall {
    width: 27vw;
    height: 16vw;
    margin: 1em;
}
